body{
    margin: 0;
    height: 100vh;
    background: rgb(25,25,35);
    font-family: 'Poppins';
    color: white;
}

button{
    background: none;
    border: none;
    float: right;
    margin: 2em;
    cursor: pointer;

    svg{
        width: 30px;
        height: 30px;
    }
}

nav{
    width: 19%;
    left: auto;
    bottom: auto;
    background: rgb(36,36,36);
    border: none;
    color: white;
    height: 100vh;
    translate: 100% 0;
    transition: translate 0.5s, display 0.5s ease-out allow-discrete;

    &:popover-open{
        translate: 0 0;

        @starting-style{
            translate: 100% 0;
        }
    }
    
    
}

ul{ 
    
    list-style-type: none;


    li{
        padding: .5em 0;
       
            a{
                text-decoration: none;
                color: white;
                text-decoration: none;
            }
            
    
        }
}

h2{
    float: center;
}